@import '../abstract/var';

#skills-socialmedia {
    margin: 32px 32px 32px 0;
    position: relative;
    z-index: 10;
    h2 {
        font-size: $text-size / 2;
    }
    .tech-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 22px;
        .img-container {
            width: 60px;
            height: 60px;
            margin: 0 18px 18px 0;
            img {
                width: 100%;
                transition: 0.6s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        } 
    }
}